body{
	box-sizing: border-box;
}
.bud{
	border: 2px solid green;
}
.subjects{
	font-size: 25px;
	font-weight: 600;
}
h1{
	text-align: center;
	color: green;
	margin: 20px 0px;
}
#total{
	margin-top: 50px;
}
#emoji{
	font-size: 100;
}
h2{
	color: red;
}